<!-- SKILLS -->
<div class="arlo_tm_section">
  <div class="arlo_tm_skills_wrap">
    <div class="container">
      <div class="inner_wrap">
        <div class="leftbox">
          <div class="arlo_tm_mini_title_holder">
            <h4>Some About my Abilities</h4>
          </div>
          <p>Throughout my professional career I have managed to obtain new skills and improve existing ones. Always with the intention of being at the rhythm of the last cry of web development.</p>
        </div>
        <div class="rightbox">
          <div class="progress_bar_wrap_total">
            <div class="arlo_tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
              <div class="arlo_tm_progress" data-value="95" data-color="#000">
                <span><span class="label">PHP / Laraver - <span class="experience">+4 years of experience</span></span><span class="number">95%</span></span>
                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
              </div>
              <div class="arlo_tm_progress" data-value="75" data-color="#000">
                <span><span class="label">JS / React / Angular / Vue - <span class="experience">+2 years of experience</span></span><span class="number">75%</span></span>
                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
              </div>
              <div class="arlo_tm_progress" data-value="85" data-color="#000">
                <span><span class="label">HTML - <span class="experience">+4 years of experience</span></span><span class="number">85%</span></span>
                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
              </div>
              <div class="arlo_tm_progress" data-value="75" data-color="#000">
                <span><span class="label">CSS - <span class="experience">+4 years of experience</span></span><span class="number">75%</span></span>
                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
              </div>
              <div class="arlo_tm_progress" data-value="55" data-color="#000">
                <span><span class="label">Mobile / React-Native - <span class="experience">+1 years of experience</span></span><span class="number">55%</span></span>
                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
              </div>
              <div class="arlo_tm_progress" data-value="30" data-color="#000">
                <span><span class="label">Java / Spring Boot - <span class="experience">+1 years of experience</span></span><span class="number">30%</span></span>
                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
              </div>
              <div class="arlo_tm_progress" data-value="45" data-color="#000">
                <span><span class="label">Docker - <span class="experience">+1 years of experience</span></span><span class="number">45%</span></span>
                <div class="arlo_tm_bar_bg"><div class="arlo_tm_bar_wrap"><div class="arlo_tm_bar"></div></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /SKILLS -->
