<!-- RIGHTPART -->
<div class="arlo_tm_rightpart">
  <div class="rightpart_inner">
    <div class="arlo_tm_section" id="home">
      <div class="arlo_tm_hero_header_wrap">
        <div class="arlo_tm_universal_box_wrap">
          <div class="bg_wrap">
            <div class="overlay_image hero jarallax" data-speed="0.1"></div>
            <div class="overlay_color hero"></div>
          </div>
          <div class="content hero">
            <div class="inner_content">
              <div class="image_wrap">
                <img src="../../../assets/img/hero/img.jpg" alt="" />
              </div>
              <div class="name_holder">
                <h3>Alan <span>Michaelis</span></h3>
              </div>
              <div class="text_typing">
                <p>I'm a <span class="arlo_tm_animation_text_word"></span></p>
              </div>
            </div>
          </div>
          <div class="arlo_tm_arrow_wrap bounce anchor">
            <a href="#about"><i class="xcon-angle-double-down"></i></a>
          </div>
        </div>
      </div>
    </div>

    <app-about></app-about>

    <app-skills></app-skills>

    <app-services></app-services>

    <app-portfolio></app-portfolio>

    <app-testimonials></app-testimonials>

    <app-counter-box></app-counter-box>

    <app-news></app-news>

    <app-contact-footer></app-contact-footer>

  </div>
</div>
<!-- /RIGHTPART -->
