<!-- TESTIMONIALS -->
<div class="arlo_tm_section" id="testimonials">
  <div class="arlo_tm_testimonials_wrapper_all">
    <div class="arlo_tm_universal_box_wrap">
      <div class="bg_wrap">
        <div class="overlay_image testimonial jarallax" data-speed="0"></div>
        <div class="overlay_color testimonial"></div>
      </div>
      <div class="content testimonial">
        <div class="arlo_tm_testimonial_wrap">
          <div class="container">
            <div class="carousel_wrap">
              <ul class="owl-carousel">
                <li class="item">
                  <div class="inner">
                    <div class="quotebox_wrap">
                      <i class="xcon-quote-left"></i>
                    </div>
                    <div class="definitions_wrap">
                      <p>“Henry is a goal-oriented professional, he gave good results for the company, because he learned functions and activities we do in the area of infrastructure too fast. He perform all the tasks that were assigned to him. He is focused and dedicated to work. He is a self-taught worker and a great partner working with the team, because he shares all the knowledge and experience he has.”</p>
                    </div>
                    <div class="name_holder">
                      <p>Julio Velasquez, Arquitecto TI at Sermaluc Ltda.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /TESTIMONIALS -->
