<!-- ABOUT -->
<div class="arlo_tm_section relative" id="about">
  <div class="arlo_tm_about_wrapper_all">
    <div class="container">
      <div class="arlo_tm_title_holder">
        <h3>About Me</h3>
        <span>Main informations about me</span>
      </div>
      <div class="arlo_tm_about_wrap">
        <div class="author_wrap">
          <div class="leftbox">
            <div class="about_image_wrap parallax" data-relative-input="true">
              <div class="image layer" data-depth="0.1">
                <img height="420" src="../../../../assets/img/hero/img.jpg" alt="" />
                <div class="inner" data-img-url="assets/img/hero/img.jpg"></div>
              </div>
              <div class="border layer" data-depth="0.2">
                <img src="../../../../assets/img/about/550x640.jpg" alt="" />
                <div class="inner"></div>
              </div>
            </div>

          </div>
          <div class="rightbox">
            <div class="arlo_tm_mini_title_holder">
              <h4>I'm Henry Leon and <span class="arlo_tm_animation_text_word"></span></h4>
            </div>
            <div class="definition">
              <p>Hi! My name is <strong>Henry Leon</strong>. I am a full stack developer, I have worked in different projects with people from all over the world in order to develop solutions for clients, I like to work together with other people to be able to contribute ideas and build high quality code applying SOLID principles and standards. design to guarantee a maintainable and scalable code. I have worked in the development with different technologies. Many of the projects that I have worked on are private, others public, but the knowledge is always with me. You can see a sample of my code in my github account.</p>
            </div>
            <div class="about_short_contact_wrap">
              <ul>
                <li>
                  <span><label>Birthday:</label> 03.11.1989</span>
                </li>
                <li>
                  <span><label>Age:</label> 30</span>
                </li>
                <li>
                  <span><label>City:</label> Maracaibo, VE</span>
                </li>
                <li>
                  <span><label>Interests:</label> Internet, Family, Basket</span>
                </li>
                <li>
                  <span><label>Study:</label> UJGH University</span>
                </li>
                <li>
                  <span><label>Degree:</label> Engineer of systems</span>
                </li>
                <li>
                  <span><label>Website:</label> <a href="https://henryleon.com.ve"> https://henryleon.com.ve</a></span>
                </li>
                <li>
                  <span><label>Mail:</label> <a href="mailto:helg18@gmail.com" target="_blank"> helg18&#64;gmail.com</a></span>
                </li>
                <li>
                  <span><label>Phone:</label> <a href="#"> +58 412 653 97 33</a></span>
                </li>
                <li>
                  <span><label>Twitter:</label> <a href="https://twitter.com/helg18" target="_blank"> &#64;helg18</a></span>
                </li>
                <li>
                  <span><label>Telegram:</label> <a href="https://t.me/helg18" target="_blank"> &#64;helg18</a></span>
                </li>
                <li>
                  <span><label>Skype:</label> <a href="skype:henry-0261?chat" target="_blank"> henry-0261</a></span>
                </li>
              </ul>
            </div>
            <div class="buttons_wrap">
              <ul>
                <li>
                  <a href="javascript:void(0)" (click)="print()"><span><i class="xcon-download"></i> Download CV</span></a>
                </li>
                <li class="anchor">
                  <a href="#contact"><span><i class="xcon-mail"></i> Send Message</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /ABOUT -->
