<!-- SERVICES -->
<div class="arlo_tm_section" id="services">
  <div class="arlo_tm_services_wrap">
    <div class="container">
      <div class="arlo_tm_title_holder">
        <h3>Amazing Services</h3>
        <span>Meet our amazing services</span>
      </div>
      <div class="list_wrap">
        <ul>
          <li>
            <div class="inner">
              <div class="icon">
                <img class="svg" src="../../../../assets/img/svg/backend.svg" alt="" />
              </div>
              <div class="title_service">
                <h3>Web Development</h3>
              </div>
              <div class="text">
                <p>Web development is based on the solutions that are created on the server side to resolve requests. ...</p>
              </div>
            </div>
          </li>
          <li>
            <div class="inner">
              <div class="icon">
                <img class="svg" src="../../../../assets/img/svg/new-tab.svg" alt="" />
              </div>
              <div class="title_service">
                <h3>Web Design</h3>
              </div>
              <div class="text">
                <p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages ...</p>
              </div>
            </div>
          </li>
          <li>
            <div class="inner">
              <div class="icon">
                <img class="svg" src="../../../../assets/img/svg/smartphone.svg" alt="" />
              </div>
              <div class="title_service">
                <h3>Mobile app</h3>
              </div>
              <div class="text">
                <p>The development of mobile applications is aimed at launching its product to the masses, through smartphones. ...</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /SERVICES -->
